@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gavins css for the detail page */

.titel_overzicht {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 150%;
    font-weight: bolder;

}

.productInfo_titel {
    font-size: 200%;
    font-weight: bold;
    margin-top: 50px;
}

#detail_container {
    width: 100%;
    max-width: 1750px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.image_container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addToCartBTN{
    background-color: #14B8A6;
    margin-top: 10px;
}

.detail_titel {
    width: 100%;
    height: auto;
    font-size: 150%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    max-width: 1750px;
    margin-right: auto;
    margin-left: auto;

}

.product_info {
    width: 50%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    /* background-color: red; */
    padding-left: 25px;
    padding-right: 25px;
}


/* header.jsx */

#nav{
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.link{
    color: white;
    font-size: 125%;
    font-weight: bold;

}














/* Gavins css for checkout page */
.inner_container_links {
    width: 35%;
    height: 800px;
}


#container_checkout {
    width: 100%;
    max-width: 2000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}



input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #14B8A6;
    width: 30%;
    margin: 0px 50px 50px 0px;
}

.productInCart {
    width: 80%;
    height: 100px;
    background-color: #14B8A6;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total_price {
    font-size: 125%;
    font-weight: bolder;
}

.cartContainer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.form_container {
    width: 100%;
    height: 800px;
}

.form_innerContainer {
    height: 90%;
    width: 100%;
}

input[value^="Bestellen"] {
    font-weight: bolder;
}